/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font-family:Verdana;
  font-size:14px;
  margin:0;
    /*background: none repeat scroll 0 0 #00fa9a;*/
}

#container{
  margin:auto;
  width:80%;
}

#header {
  height:50px;
  background:#9c6;
  margin-bottom:5px;
}

#menu {
  height:30px;
  background:#693;
}

#main_content {
  height:1000px;
  /*background:#ffa;*/
  margin-bottom:5px;
  padding: 20px;
}

#footer {
  height:60px;
  background:#9c6;
}



