<p>您好， <%= @resource.email %>!</p>

<p>我们发送这封邮件是因为有人申请修改您的密码，您可以通过点击下面的链接来修改您的密码!</p>

<p><%= link_to '要修改密码就 点击我', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有要求修改密码，请不要理睬本邮件！</p>
<p>您的密码不会被修改，除非您通过以上链接创建一个新的密码！</p>
